py-cord
python-dotenv
Mastodon.py
colorlog
pokebase
#todo figure out why pillow is not installing
#Pillow 
requests
mysql-connector-python

#Created /home/container for the .cache file because the docker hosting requires it. 

